<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Kanit:wght@300&family=Poppins:wght@300&family=Roboto:wght@400;900&display=swap"
  rel="stylesheet">
<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Kanit:wght@300&family=Poppins:wght@300&family=Roboto:wght@400;900&display=swap');
</style>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Kanit:wght@300&family=Poppins:wght@300&family=Roboto:wght@400;900&display=swap');
  </style>
<nav>
  <div class="wrapper">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <button style="border: none;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li><a  routerLink="home">HOME</a></li>
              <li><a  routerLink="categorize">CATOGARIES</a></li>
              <li><a  routerLink="dashboard">DASHBOARD</a></li>
              <li><a  routerLink="about">ABOUT</a></li>
              <li><a  routerLink="others">OTHERS</a></li>
              
          
          
            </ul>
      
          </div>
        </div>
      </nav>
     
      <ul class="nav-links">
        <li><a id="home" class="nav-link" routerLink="home">HOME</a></li>

        <div class="dropdown">
          <li><a id="categorize" class="nav-link" routerLink="categorize">CATOGARIES</a></li>
          <div  class="dropdown-content">
            <div class="megabox">
              <div class="image">
                <img src="assets/images/banner-1.jpg" alt="" />
              </div>
              <div class="first-line">
                <ul>
                  <header>Electronics</header>
                  <li><a>Desktop</a></li>
                  <li><a>Laptop</a></li>
                  <li><a>Camera</a></li>
                  <li><a>Tablet</a></li>
                  <li><a>Headphone</a></li>
                </ul>
              </div>
              <div class="second-line">
                <ul>
                  <header>Men's</header>
                  <li><a>Formal</a></li>
                  <li><a>Casual</a></li>
                  <li><a>Sports</a></li>
                  <li><a>Jacket</a></li>
                  <li><a>Sunglasses</a></li>
                </ul>
              </div>
              <div class="third-line">
                <ul>
                  <header>Women's</header>
                  <li><a>Formal</a></li>
                  <li><a>Casual</a></li>
                  <li><a>perfume</a></li>
                  <li><a>Cosmetics</a></li>
                  <li><a>Bags</a></li>
                </ul>
              </div>

              <div class="fourth-line">
                <ul>
                  <header>Electronic</header>
                  <li><a>Speakers</a></li>
                  <li><a>Keyboard</a></li>
                  <li><a>Mouse</a></li>
                  <li><a>Microphone</a></li>
                  <li><a>Toys</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="dropdown">
          <li><a  id="dashboard"  class="nav-link" routerLink="dashboard">DASHBOARD</a></li>
          <div class="dropdown-content">
            <li><a>New Orders</a></li>
            <li><a>Visitors</a></li>
            <li><a>Sales</a></li>
            <li><a>Total Sales</a></li>
          </div>
        </div>

        <div class="dropdown">
          <li><a  id="about" class="nav-link" routerLink="about">ABOUT</a></li>
          <div class="dropdown-content">
            <li><a>Online Shop</a></li>
            <li><a>Online Delivers</a></li>
            <li><a>Online Sales</a></li>
            <li><a>Budjet</a></li>
          </div>
        </div>

        <div class="dropdown">
          <li><a id="others" class="nav-link" routerLink="others">OTHERS</a></li>
          <div class="dropdown-content">
            <li><a>Sign up</a></li>
            <li><a>Sign in</a></li>
            <li><a>Facebook</a></li>
            <li><a>Twitter</a></li>
          </div>
        </div>

        <div class="dropdown">
          <li><a class="nav-link">PERFUME</a></li>
          <div class="dropdown-content">
            <li><a>Cl Perfume</a></li>
            <li><a>Deodorant</a></li>
            <li><a>Flo Fragrance</a></li>
            <li><a>Air Freshener</a></li>
          </div>
        </div>

      
        <li><a class="nav-link">HOT OFFERS</a></li>
      </ul>
    </div>
  </div>
  </nav>