<mat-toolbar>
  <div class="image">
    <img src="assets/images/logo.svg" alt="">
  </div>
  <div class="searchb" >
    <div class="input-group">
      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
      <button type="button" class="btn btn-danger" data-mdb-ripple-init>search</button>
    </div>
  </div>
  <div class="icon" style="width: 30%; display: flex; justify-content: right; padding: 15px;">
    <i class='bx bxs-user-circle'></i>
    <i class='bx bxs-cart-alt'></i>
    <i class='bx bxs-bell'></i>
  </div>
</mat-toolbar>