<div class="about">
    <div class="introduction">
        <div class="left">
            <img src="assets/images/feature-banner2.jpg" alt="" srcset="">

        </div>
        <div class="right">
            <div class="text">
                <p>WHY CHOOSE US?</p>
                <h2>We bring Branded Shoping Items For You And Coustomer Can Easily Buy Items.</h2>

                <li><span><i class='bx bx-check'></i></span>&nbsp;&nbsp;Online Orders</li>
                <li><span><i class='bx bx-check'></i></span>&nbsp;&nbsp;Online Shoping</li>
                <li><span><i class='bx bx-check'></i></span>&nbsp;&nbsp;Online Deliver</li>
                <div class="btns">
                    <button>View More</button>
                </div>
                
            </div>
        </div>
    </div>
    <section class="section service" aria-labelledby="service-label">
        <div class="container">

            <p class="section-subtitle" id="service-label">What We Do?</p>

            <h2 class="h2 section-title">
                The service we offer is specifically<br> designed to meet your needs.
            </h2>

            <ul class="grid-list">

                <li>
                    <div class="service-card">

                        <div class="card-icon">
                            <i class='bx bxs-phone-call'></i>
                        </div>

                        <h3 class="h4 card-title">24/7 Support</h3>

                        <p class="card-text">
                            Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus
                            cras
                            justo.
                        </p>

                        <a href="#" class="btn-text">
                            <span class="span">Learn More</span>

                            <i class='bx bx-right-arrow-alt'></i>
                        </a>

                    </div>
                </li>

                <li>
                    <div class="service-card">

                        <div class="card-icon">
                            <i class='bx bxs-shield-plus'></i>
                        </div>

                        <h3 class="h4 card-title">Secure Payments</h3>

                        <p class="card-text">
                            Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus
                            cras
                            justo.
                        </p>

                        <a href="#" class="btn-text">
                            <span class="span">Learn More</span>

                            <i class='bx bx-right-arrow-alt'></i>
                        </a>

                    </div>
                </li>

                <li>
                    <div class="service-card">

                        <div class="card-icon">
                            <i class='bx bxs-download'></i>
                        </div>

                        <h3 class="h4 card-title">Daily Updates</h3>

                        <p class="card-text">
                            Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus
                            cras
                            justo.
                        </p>

                        <a href="#" class="btn-text">
                            <span class="span">Learn More</span>

                            <i class='bx bx-right-arrow-alt'></i>
                        </a>

                    </div>
                </li>

                <li>
                    <div class="service-card">

                        <div class="card-icon">
                            <i class='bx bxs-pie-chart-alt-2'></i>
                        </div>

                        <h3 class="h4 card-title">Market Research</h3>

                        <p class="card-text">
                            Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus
                            cras
                            justo.
                        </p>

                        <a href="#" class="btn-text">
                            <span class="span">Learn More</span>

                            <i class='bx bx-right-arrow-alt'></i>
                        </a>

                    </div>
                </li>

            </ul>

        </div>
    </section>

    <div class="intorduct2">
        <div class="left">
            <h6>OUR SOLUTIONS</h6>
            <h2>We make your spending stress-free for you to have the perfect control.</h2>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes,<br> nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis<br> in, egestas eget quam. Praesent commodo cursus.</p>
            <div style="text-align: justify; margin-top: 30px;">
                <h4><span><i class='bx bx-check'></i></span> Aenean quam ornare. Curabitur blandit</h4>
                <h4><span><i class='bx bx-check'></i></span> Nullam quis risus eget urna mollis ornare.</h4>
            
                <h4><span><i class='bx bx-check'></i></span> Aenean quam ornare. Curabitur blandit</h4>
                <h4><span><i class='bx bx-check'></i></span> Nullam quis risus eget urna mollis ornare.</h4>
            </div>
        </div>
        <div class="right">
            <img src="assets/images/4882619.jpg" alt="" srcset="">
        </div>
    </div>

<!----------------------Not made Cards Section------------------------------------------------->
    <!-- <div class="cards"></div> -->

    <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="footer-col">
              <h4>company</h4>
              <ul>
                <li><a href="#">about us</a></li>
                <li><a href="#">our services</a></li>
                <li><a href="#">privacy policy</a></li>
                <li><a href="#">affiliate program</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>get help</h4>
              <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">shipping</a></li>
                <li><a href="#">returns</a></li>
                <li><a href="#">order status</a></li>
                <li><a href="#">payment options</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>online shop</h4>
              <ul>
                <li><a href="#">watch</a></li>
                <li><a href="#">bag</a></li>
                <li><a href="#">shoes</a></li>
                <li><a href="#">dress</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>follow us</h4>
              <div class="social-links">
                <a href="#"><i class="bx bxl-facebook"></i></a>
                <a href="#"><i class="bx bxl-twitter"></i></a>
                <a href="#"><i class="bx bxl-instagram"></i></a>
                <a href="#"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </footer>