<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Kanit:wght@300&family=Poppins:wght@300&family=Roboto:wght@400;900&display=swap');
</style>

<div class="container-fluid">
  <div class="row-col-12">
    <!-----Form--------------------------------------->
    <form action="" id="search-form">
      <div class="cart">
        <h2 class="cart-title">Your Cart</h2>



        <!--BUY BUTTON-->
        <button type="buton" class="btn-buy">Buy</button>
        <!--cart-close-->
        <i style="font-size: 15px;" class="fa-solid fa-x" id="cart-close"></i>
      </div>
    </form>


    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="assets/images/banner-1.jpg" alt="" srcset="" />
          <div class="text">
            <h3>Trending Item</h3>
            <h2>
              WOMEN'S LATEST<br />
              FASHION SALE
            </h2>
            <h4>starting at $ 20.00</h4>
            <button style="width: 150px" mat-raised-button color="accent">
              SHOP NOW
            </button>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="assets/images/banner-2.jpg" alt="" srcset="" />
          <div class="text">
            <h3>Trending Accessories</h3>
            <h2>
              MODERN<br />
              SUNGLASSES
            </h2>
            <h4>starting at $ 15.00</h4>
            <button style="width: 150px" mat-raised-button color="accent">
              SHOP NOW
            </button>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="assets/images/banner-3.jpg" alt="" srcset="" />
          <div class="text">
            <h3>Sale Offer</h3>
            <h2>
              NEW FASHION<br />
              SUMMER SALE
            </h2>
            <h4>starting at $ 29.99</h4>
            <button style="width: 150px" mat-raised-button color="accent">
              SHOP NOW
            </button>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="assets/images/banner-1.jpg" alt="" srcset="" />
          <div class="text">
            <h3>Trending Item</h3>
            <h2>
              WOMEN'S LATEST<br />
              FASHION SALE
            </h2>
            <h4>starting at $ 20.00</h4>
            <button style="width: 150px" mat-raised-button color="accent">
              SHOP NOW
            </button>
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>

  <mat-card>
    <mat-card-content>
      <div class="category">
        <div class="category-item-container has-scrollbar">
          <div class="category-item">
            <div class="category-img-box">
              <img src="assets/category-images/dress.svg" alt="dress & frock" width="30" />
            </div>

            <div class="category-content-box">
              <div class="category-content-flex">
                <h3 class="category-item-title">Dress & frock</h3>

                <p class="category-item-amount">(53)</p>
              </div>

              <a href="#" class="category-btn">Show all</a>
            </div>
          </div>

          <div class="category-item">
            <div class="category-img-box">
              <img src="assets/category-images/coat.svg" alt="winter wear" width="30" />
            </div>

            <div class="category-content-box">
              <div class="category-content-flex">
                <h3 class="category-item-title">Winter wear</h3>

                <p class="category-item-amount">(58)</p>
              </div>

              <a href="#" class="category-btn">Show all</a>
            </div>
          </div>

          <div class="category-item">
            <div class="category-img-box">
              <img src="assets/category-images/glasses.svg" alt="glasses & lens" width="30" />
            </div>

            <div class="category-content-box">
              <div class="category-content-flex">
                <h3 class="category-item-title">Glasses & lens</h3>

                <p class="category-item-amount">(68)</p>
              </div>

              <a href="#" class="category-btn">Show all</a>
            </div>
          </div>

          <div class="category-item">
            <div class="category-img-box">
              <img src="assets/category-images/shorts.svg" alt="shorts & jeans" width="30" />
            </div>

            <div class="category-content-box">
              <div class="category-content-flex">
                <h3 class="category-item-title">Shorts & jeans</h3>

                <p class="category-item-amount">(84)</p>
              </div>

              <a href="#" class="category-btn">Show all</a>
            </div>
          </div>

          <div class="category-item">
            <div class="category-img-box">
              <img src="assets/category-images/tee.svg" alt="t-shirts" width="30" />
            </div>

            <div class="category-content-box">
              <div class="category-content-flex">
                <h3 class="category-item-title">T-shirts</h3>

                <p class="category-item-amount">(35)</p>
              </div>

              <a href="#" class="category-btn">Show all</a>
            </div>
          </div>

          <div class="category-item">
            <div class="category-img-box">
              <img src="assets/category-images/jacket.svg" alt="jacket" width="30" />
            </div>

            <div class="category-content-box">
              <div class="category-content-flex">
                <h3 class="category-item-title">Jacket</h3>

                <p class="category-item-amount">(16)</p>
              </div>

              <a href="#" class="category-btn">Show all</a>
            </div>
          </div>

          <div class="category-item">
            <div class="category-img-box">
              <img src="assets/category-images/watch.svg" alt="watch" width="30" />
            </div>

            <div class="category-content-box">
              <div class="category-content-flex">
                <h3 class="category-item-title">Watch</h3>

                <p class="category-item-amount">(27)</p>
              </div>

              <a href="#" class="category-btn">Show all</a>
            </div>
          </div>

          <div class="category-item">
            <div class="category-img-box">
              <img src="assets/category-images/hat.svg" alt="hat & caps" width="30" />
            </div>

            <div class="category-content-box">
              <div class="category-content-flex">
                <h3 class="category-item-title">Hat & caps</h3>

                <p class="category-item-amount">(39)</p>
              </div>

              <a href="#" class="category-btn">Show all</a>

            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- <mat-card> -->
  <div class="arrivals">
    <h3><i class="fa-solid fa-minus"></i> NEW ARRIVAL <i class="fa-solid fa-minus"></i></h3>
    <p>We love to tell our successful far far away, behind the word mountains, far from the<br> countries Vokalia and
      Consonantia, there live the blind texts.</p>
  </div>

  <div class="cards">
    <div class="card">
      <img class="card-img-top" src="assets/images/blog-1.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">FLORAL DRESS <br><span>$300.00</span></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/images/blog-2.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">FLORAL DRESS <br><span>$300.00</span></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/images/blog-3.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">FLORAL DRESS <br><span>$300.00</span></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/images/blog-4.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">FLORAL DRESS <br><span>$300.00</span></p>
      </div>
    </div>
  </div>



  <!-- </mat-card> -->


  <div class="hot">
    <div class="slide-img">
      <img src="assets/images/blog-1.jpg" alt="">

      <!-- <div class="text">
          <h2>Women's</h2>
          <button>Discover More</button>
        </div> -->

    </div>
    <div class="content">
      <div class="text">
        <h2><i class="fa-solid fa-minus"></i> Deal Of The Week <i class="fa-solid fa-minus"></i></h2>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, praesentium.<br> Odio repellendus harum
          tempore excepturi ipsa accusamus explicabo voluptates,<br> corrupti molestias est. </P>

        <h4>$35.00</h4>
      </div>


      <div class="count-downs">
        <div class="count-down">
          <h1 id="days">00</h1>
          <p>Days</p>
        </div>
        <div class="count-down">
          <h1 id="hours">00</h1>
          <p>Hours</p>
        </div>
        <div class="count-down">
          <h1 id="minutes">00</h1>
          <p>Minutes</p>
        </div>
        <div class="count-down">
          <h1 id="seconds">00</h1>
          <p>Seconds</p>
        </div>
      </div>
      <button style="width:120px" mat-raised-button color="accent">
        SHOP NOW
      </button>
    </div>
  </div>


  <div class="services">
    <h3>The service we offer is specifically <br>designed to meet your needs. </h3>
    <div class="ser-list">
      <div class="serve-card">
        <div class="card">
          <div class="icon">
            <i class="fa-solid fa-ship"></i>
          </div>
          <h4>Worldwide Delivery</h4>
          <p>Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras justo.
          </p>
          <h5>For Oder Over $100</h5>

          <p style="color:#FA617F;">Learn More <i class="fa-solid fa-arrow-right"></i></p>
        </div>
      </div>
      <div class="serve-card">
        <div class="card">
          <div class="icon">
            <i class="fa-solid fa-rocket"></i>
          </div>
          <h4>Next Day Delivery</h4>
          <p>Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras justo.
          </p>
          <h5>South Asian Orders Only</h5>

          <p style="color:#FA617F;">Learn More <i class="fa-solid fa-arrow-right"></i></p>
        </div>
      </div>
      <div class="serve-card">
        <div class="card">
          <div class="icon">
            <i class="fa-solid fa-phone"></i>
          </div>
          <h4>Best Online Support</h4>
          <p>Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras justo.
          </p>
          <h5>Hours:8 AM - 11PM</h5>

          <p style="color:#FA617F;">Learn More <i class="fa-solid fa-arrow-right"></i></p>
        </div>
      </div>
      <div class="serve-card">
        <div class="card">
          <div class="icon">
            <i class="fa-solid fa-rotate-left"></i>
          </div>
          <h4>Reuren To Policy</h4>
          <p>Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras justo.
          </p>
          <h5>Easy & Free Reurn</h5>

          <p style="color:#FA617F;">Learn More <i class="fa-solid fa-arrow-right"></i></p>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><a href="#">about us</a></li>
          <li><a href="#">our services</a></li>
          <li><a href="#">privacy policy</a></li>
          <li><a href="#">affiliate program</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>get help</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">shipping</a></li>
          <li><a href="#">returns</a></li>
          <li><a href="#">order status</a></li>
          <li><a href="#">payment options</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>online shop</h4>
        <ul>
          <li><a href="#">watch</a></li>
          <li><a href="#">bag</a></li>
          <li><a href="#">shoes</a></li>
          <li><a href="#">dress</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>